In [461]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [462]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
157,tt0829150,70000000,215529201,Dracula Untold,Luke Evans|Sarah Gadon|Dominic Cooper|Art Park...,Gary Shore,Every bloodline has a beginning,"Vlad Tepes is a great hero, but when he learns...",92,Horror|Action|Drama|Fantasy|War,Universal Pictures|Legendary Pictures|Fuji Tel...,10/1/2014,6.1,2014
1061,tt1598828,40000000,36893721,One for the Money,Katherine Heigl|John Leguizamo|Debbie Reynolds...,Julie Anne Robinson,She's looking for a few not-so-good men,"Stephanie Plum (Katherine Heigl), an unemploye...",91,Action|Comedy|Thriller|Crime|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/26/2012,5.2,2012
489,tt1013860,20000000,4634062,Dylan Dog: Dead of Night,Brandon Routh|Peter Stormare|Sam Huntington|Ta...,Kevin Munroe,No pulse? No problem,"The adventures of supernatural private eye, Dy...",107,Action|Comedy|Horror|Mystery|Science Fiction,Hyde Park Films|platinum studios|Long Distance...,10/26/2010,4.9,2010
1316,tt0401792,40000000,158733820,Sin City,Jessica Alba|Devon Aoki|Alexis Bledel|Powers B...,Robert Rodriguez|Frank Miller|Quentin Tarantino,Walk down the right back alley in Sin City and...,Welcome to Sin City. This town beckons to the ...,124,Action|Thriller|Crime,Dimension Films|Troublemaker Studios|Miramax,3/31/2005,7.1,2005
108,tt3077214,14000000,16002420,Suffragette,Carey Mulligan|Helena Bonham Carter|Meryl Stre...,Sarah Gavron,Mothers. Daughters. Rebels.,Based on true events about the foot soldiers o...,106,Drama|History,Ruby Films|PathÃ©|Film4,10/16/2015,7.1,2015

In [463]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [464]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [465]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
def profits (row):
    profit = row['revenue'] - row['budget']
    return profit

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [466]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = data.original_title[data.budget == data.budget.max()].iloc[0]
# если ответили верно, можете добавить комментарий со значком "+"

In [467]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [468]:
# можно добавлять разные варианты решения
data.groupby(by = 'original_title').budget.max()[data.groupby(by = 'original_title').budget.max() == data.budget.max()].index[0]

'Pirates of the Caribbean: On Stranger Tides'

In [469]:
data.groupby(by = 'original_title').budget.max().sort_values(ascending = False).index[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [470]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data.original_title[data.runtime == data.runtime.max()].iloc[0]

In [471]:
data.original_title[data.runtime == data.runtime.max()].iloc[0]

'Gods and Generals'

In [472]:
data.groupby(by = 'original_title').runtime.max().sort_values(ascending = False).index[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [473]:
answers['3'] = data.original_title[data.runtime == data.runtime.min()].iloc[0]

In [474]:
data.groupby(by = 'original_title').runtime.min().sort_values(ascending = True).index[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [475]:
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [476]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [477]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.apply(profits, axis = 1)
answers['6'] = data.original_title[data.profit == data.profit.max()].iloc[0]

In [478]:
data.groupby(['original_title']).profit.max().sort_values(ascending = False).index[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [479]:
answers['7'] = data.original_title[data.profit == data.profit.min()].iloc[0]

In [480]:
data.groupby(by = 'original_title').profit.min().sort_values(ascending = True).index[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [481]:
answers['8'] = len(data.original_title[data.profit > 0])

In [482]:
len(data.original_title[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [483]:
answers['9'] = data.original_title[(data.release_year == 2008) & (data.revenue == data.revenue[data.release_year == 2008].max())].iloc[0]

In [484]:
data.original_title.loc[data.revenue[data.release_year == 2008].sort_values(ascending = False).index[0]]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [508]:
answers['10'] = data.original_title[(data.release_year >= 2012) & (data.release_year <= 2014) & (data.profit == data.profit[(data.release_year >= 2012) & (data.release_year <= 2014)].min())].iloc[0]

In [509]:
data.original_title.loc[data.profit[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(ascending = True).index[0]]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [487]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data['sort_genres'] = data.genres.str.split('|')
data_new = data.explode('sort_genres')
answers['11'] = data_new.sort_genres.value_counts().index[0]

ВАРИАНТ 2

In [488]:
s_s_genres = {}
s_genres = []
for x in range (len(data)):
    s_genres += data.sort_genres[x]
s_s_genres ['s_genres'] = s_genres
genres_df = pd.DataFrame(s_s_genres)
genres_df.s_genres.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [489]:
answers['12'] = data_new.sort_genres[data_new.profit > 0].value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [551]:
data['sort_director'] = data.director.str.split('|')
data_director = data.explode('sort_director')
answers['13'] = data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [561]:
data_director_genres = data_director.explode('sort_genres')
answers['14'] = data_director_genres[data_director_genres['sort_genres'].str.contains('Action')]['sort_director'].value_counts().index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [492]:
data['sort_cast'] = data.cast.str.split('|')
data_cast = data.explode('sort_cast')
answers['15'] = data_cast[data_cast.release_year == 2012].groupby(['sort_cast'])['revenue'].sum().sort_values(ascending = False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [493]:
answers['16'] = data_cast[data_cast.budget > data.budget.mean()]['sort_cast'].value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [494]:
Nicolas_Cage_df = data_cast[data_cast.sort_cast == 'Nicolas Cage']
Nicolas_Cage_df['sort_genres'] = Nicolas_Cage_df.genres.str.split('|')
Nicolas_Cage_df_new = Nicolas_Cage_df.explode('sort_genres')
answers['17'] = Nicolas_Cage_df_new.sort_genres.value_counts().index[0]

<ipython-input-494-474ab0eb1c4c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nicolas_Cage_df['sort_genres'] = Nicolas_Cage_df.genres.str.split('|')

# 18. Самый убыточный фильм от Paramount Pictures

In [495]:
data['sort_production_companies'] = data.production_companies.str.split('|')
data_production_companies = data.explode('sort_production_companies')
Paramount_Pictures_df = data_production_companies[data_production_companies['sort_production_companies'] == 'Paramount Pictures']
answers['18'] = Paramount_Pictures_df.original_title[Paramount_Pictures_df.profit == Paramount_Pictures_df.profit.min()].iloc[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [496]:
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [522]:
Warner_Bros_df = data_production_companies[data_production_companies['sort_production_companies'].str.contains('Warner Bros')]
answers['20'] = Warner_Bros_df.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [498]:
data['month'] = data.release_date.apply(lambda x: x.split('/')[0])
answers['21'] = data.groupby(['month'])['original_title'].count().sort_values(ascending = False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [499]:
answers['22'] = len(data[(data['month'] == '6') | (data['month'] == '7') | (data['month'] == '8')])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [500]:
answers['23'] = data[(data['month'] == '12') | (data['month'] == '1') | (data['month'] == '2')]['director'].value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [501]:
data_production_companies['len_title'] = data_production_companies.original_title.apply(lambda x: len(x))
answers['24'] = data_production_companies.groupby(['sort_production_companies'])['len_title'].mean().sort_values(ascending = False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [502]:
data_production_companies['len_overview'] = data_production_companies.overview.apply(lambda x: len(x.split()))
answers['25'] = data_production_companies.groupby(['sort_production_companies'])['len_overview'].mean().sort_values(ascending = False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [503]:
data[data['vote_average'] > data.quantile(0.99, numeric_only = True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [504]:
import itertools
pairs_cast = []
pairs_cast_all = []
for pair_cast in data.sort_cast:
    pair_comb = itertools.combinations (sorted(pair_cast), 2)
    pairs = [', '.join(i) for i in pair_comb]
    pairs_cast.append(pairs)
for nobers in range(len(pairs_cast)):
    pairs_cast_all += pairs_cast[nobers]
pairs_df = pd.DataFrame({'pair': pairs_cast_all})
pairs_df.pair.value_counts()

Daniel Radcliffe, Rupert Grint       8
Daniel Radcliffe, Emma Watson        8
Emma Watson, Rupert Grint            8
Ben Stiller, Owen Wilson             6
Helena Bonham Carter, Johnny Depp    6
                                    ..
Benjamin Bratt, Robert Mammone       1
Bill Nighy, Jean Reno                1
Jordi MollÃ , Peter Stormare         1
Bill Murray, Jason Schwartzman       1
Aaron Paul, Ben Mendelsohn           1
Name: pair, Length: 17943, dtype: int64

ВАРИАНТ 2

In [505]:
pairs_df.groupby(['pair'])['pair'].count().sort_values(ascending = False)

pair
Daniel Radcliffe, Rupert Grint       8
Emma Watson, Rupert Grint            8
Daniel Radcliffe, Emma Watson        8
Helena Bonham Carter, Johnny Depp    6
Ben Stiller, Owen Wilson             6
                                    ..
Jane Fonda, Jennifer Lopez           1
Jane Alexander, Ty Burrell           1
Jane Alexander, Robert Downey Jr.    1
Jane Alexander, Nicole Kidman        1
50 Cent, Adewale Akinnuoye-Agbaje    1
Name: pair, Length: 17943, dtype: int64

# Submission

In [562]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

In [507]:
# и убедиться что ни чего не пропустил)
len(answers)

25